html {
  font-size: 24px;
  background-color: #9A031E;
}
body {
  width: 80%;
  height: 100%;
  padding: 0px;
  margin-left: 0px;
  /*margin: auto;*/
  background-color: #FCDC4D;
  height: 100vh;
}

/*navigation list*/
nav {
  background-color: #CB793A;
  font-size: 1.5em;
  float: left;
  border-top-left-radius: inherit;
}
ul {
  padding: 0;
  font-size: .75em;
  text-align: start;
  list-style: none;
  margin-bottom: 0px;
}

li {

}
.current {
  background-color: #FCDC4D;
}
.navlink {
  color: #5F0F40;
  text-decoration: none;
  font-variant: all-small-caps;
}
/*end navigation list .*/

.picbox {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  overflow: hidden;
}
.picbox-image {
  float: right;
}
.picbox-text {
  margin-left: 1.5em;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.stylechange {
  text-align: center;
  font-size: .75em;
  border-top: 1px solid black;
}

.simpsons {
  font-family: "Gloria Hallelujah", serif;
  font-size: .75em;
}

.futurama {
  font-family: "Sen", sans-serif;
  font-size: .8em;
}
